* {
	margin: 0;
	padding: 0;
}

body {
	color: #00a2e8;
	font-family: 微软雅黑;
}

#title {
	background: #00a2e8;
	color: #FFF;
	font-family: 微软雅黑;
	font-size: 30px;
	padding: 20px;
	font-style: normal;
}

#edit_area {
	background: #FFF;
	direction: ltr;
	padding: 20dp;
}

.text_area {
	width: 400px;
	height: 380px;
	font-family: 微软雅黑;
	font-size: 12sp;
	color: #00a2e8;
	float: left;
	resize: horizontal;
	margin: 10dp;
	margin-left: 10px;
	margin-top: 10px;
}

.list_value {
	font-family: 微软雅黑;
	color: red;
}

#btn_do {
	color: #FFF;
	background-color: #00a2e8;
	font-family: 微软雅黑;
	font-size: 20px;
	height: 40px;
	width: 80px;
	margin: 10px;
}

#btn_edit{
	color: #00a2e8;
	background-color: #FFF;
	font-family: 微软雅黑;
	font-size:16px;
	height: 30px;
	width: 80px;
	margin: 10px;
}

#footer {
	background: #00a2e0;
	color: #FFF;
	font-size: 5px;
	font-family: 微软雅黑;
	padding: 10px;
	margin-top: 10dp;
}

#footer a {
	color: #FFF;
	text-decoration: none;
}